* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*///////////////////////    top bar    ///////////////////////*/

.top-bar-container {
    width: 100% !important;
    height: 3rem !important;
    background-color: #005085 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.top-bar {
    width: 90% !important;
    height: 100% !important;
    /* border: 2px solid red; */
    display: flex !important;
    justify-content: space-between !important;
    align-items: flex-end !important;
}

.top-bar-drop-down-btn {
    margin-top: 0.4rem !important;
    margin-left: 0.3rem !important;
}


.uae-div {
    /* border: 2px solid red; */
    display: flex !important;
    align-items: flex-start !important;
    justify-content: flex-start !important;
    width: 50% !important;
}

#uae-img {
    width: 1rem;
    height: 0.8rem;
    margin-top: 0.2rem;
    margin-right: 0.3rem;
}

#uae-p {
    color: white !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: small !important;
}


.top-bar-right-side-div {
    display: flex !important;
    justify-content: space-around !important;
    align-items: flex-start !important;
    /* border: 2px solid red; */
    width:30% !important;
}


.eng-div {
    /* border: 2px solid red; */
    display: flex !important;
    /* align-items: center !important; */
    justify-content: center !important;
    height: 1rem !important;
}

#eng-img {
    width: 1.3rem !important;
    height: 0.9rem !important;
    margin-top: 0.2rem !important;
    margin-right: 0.3rem !important;
}

#eng-p {
    color: white !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: small !important;
}


.tv-div {
    /* border: 2px solid red; */
    display: flex !important;
    /* align-items: center !important; */
    height: 1rem !important;
    justify-content: center !important;
}

#tv-img {
    width: 1.3rem !important;
    height: 0.9rem !important;
    margin-top: 0.2rem !important;
    margin-right: 0.3rem !important;
}

#tv-p {
    color: white !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: small !important;
}


.arabic-div {
    /* border: 2px solid red; */
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

#arabic-p {
    color: white !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: small !important;
}

/*///////////////////////   top bar end   ///////////////////////*/



/*///////////////////////   nav-bar   ///////////////////////*/

.nav-brand {
    color: #04A1E8 !important;
    font-weight: 600 !important;
    font-size: x-large !important;
}
.nav-link {
    color: black !important;
    text-transform: capitalize;
}
button {
    text-transform: capitalize;
}

.mylink {
    margin-left: 12rem !important;
}

/*///////////////////////   nav-bar end   ///////////////////////*/


/*///////////////////////     home     ///////////////////////*/

.home-container {
    width: 100%;
    height: 60vh;
    background-color: #F4F6FB;
    background-image: url(./images/home/HOME-BG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: initial !important;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center
    ;
}
.home {
    width: 90%;
    height: 100%;
    /* border: 2PX SOLID red; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

#home-h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    font-weight: 400;
}
#design {
    width: 6.5rem;
    position: absolute;
    margin-left: -5rem !important;
    margin-top: 0.5rem;
}

#home-span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    font-size: xx-large;
    margin-top: 1%;
}

.home-h1 {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
        line-height: 1;
        margin-left: 0.1rem;
}

.home p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    margin-left: 0.1rem;
}

.home-btn{
    width: 8rem;
    padding-right: 0.5rem ;
}

/*///////////////////////   home end   ///////////////////////*/


/*//////////////////////     about    ///////////////////////*/

    .about-container {
        /* border: 2px solid red; */
        width: 100%;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about{
        /* border: 2px solid red !important; */
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    #about-h1 {
        font-family: sans-serif;
        font-weight: bold;
        font-size: 2.5rem;
        margin-left: 5rem;
        line-height: 0.9;
    }

    #about-span {
        font-family: sans-serif;
        font-weight: bold;
        font-size: 2.5rem;
        color: #E18234;
    }

    .about-part-2{
        display: flex;
        justify-content: space-around;
        margin-top: 5rem;
    }

    .about-part-2-1{
        display: flex;
        width: 20%;
    }
    .about-part-2-2{
        display: flex;
        width: 20%;
    }
    .about-part-2-3{
        display: flex;
        width: 20%;
    }
    .about-part-2-4{
        display: flex;
        width: 20%;
    }

    .about-number {
        font-size: 3rem;
        font-weight: bold;
        color: #22AAE9;
    }
    .about-text p {
        margin-top: 0.8rem;
        margin-left: 1rem;
        font-weight: 600;

    }

    /*////////////////   about end   ////////////////*/


    /*////////////////   find a car   ////////////////*/
    .find-a-car-container {
        width: 100%;
        height: 100vh;
        border: 2px solid red;
    }
    .find-a-car {
        width: 90%;
        height: 100%;
    }

    .find-a-car-h2 {
        font-family: sans-serif;
        font-weight: 600;
        font-size: xx-large;
    }
    .find-a-car-span {
        color: #029FE1;
    }

    /*////////////////   find a car end   ////////////////*/

































/*///////////////////    reponsive    ///////////////////*/

@media (min-width:993px) and (max-width:1024px) {

    /*////////////////   about   ////////////////*/
    .about {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    #about-h1 {
        font-family: sans-serif;
        font-weight: bold;
        font-size: 2.5rem;
        margin:0 0 0 0 !important;
        margin-top: 3rem !important;
        line-height: 0;
    }

    #about-span {
        font-family: sans-serif;
        font-weight: bold;
        font-size: 2.5rem;
        margin-top: 3rem !important;
        color: #E18234;
    }

    .about-part-2 {
        display: flex;
        justify-content: center !important;
        flex-wrap: wrap !important;
        width: 100%;
    }
    
    .about-part-2-1 {
        width: 50% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }
    .about-part-2-2 {
        width: 50% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;

    }
    .about-part-2-3 {
        width: 50% !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-part-2-4 {
        width: 50% !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*////////////////   about end   ////////////////*/

    
}



@media (min-width:768px)and (max-width:992px) {

    /*////////////   nav-bar   ////////////*/
    .nav-link {
        text-align: center !important;
        margin-left: 0 !important;
        padding-left: 0 !important;
    }
    .nav-link1 {
        margin-right: 11rem !important;
    }
    .btn-primary {
        width: 100% !important;
    }
    .navbar-toggler {
        border: none !important;
    }
    /*////////////   nav-bar end   ////////////*/

        /*////////////////   about   ////////////////*/
        .about {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
    
        #about-h1 {
            font-family: sans-serif;
            font-weight: bold;
            font-size: 2.5rem;
            margin-top: 3rem !important;
            line-height: 0;
            margin: 0 0 0 0;
        }
    
        #about-span {
            font-family: sans-serif;
            font-weight: bold;
            font-size: 2.5rem;
            margin-top: 3rem !important;
            color: #E18234;
        }
    
        .about-part-2 {
            display: flex;
            justify-content: center !important;
            flex-wrap: wrap !important;
            width: 100%;
        }
        
        .about-part-2-1 {
            width: 50% !important;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 1rem;
        }
        .about-part-2-2 {
            width: 50% !important;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 1rem;
    
        }
        .about-part-2-3 {
            width: 50% !important;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .about-part-2-4 {
            width: 50% !important;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        /*////////////////   about end   ////////////////*/


    
}

@media (min-width:576px) and (max-width:768px) {

        /*////////////   nav-bar   ////////////*/
        .nav-link {
            text-align: center !important;
            margin-left: 0 !important;
            padding-left: 0 !important;
        }
        .nav-link1 {
            margin-right: 11rem !important;
        }
        .btn-primary {
            width: 100% !important;
        }
        .navbar-toggler {
            border: none !important;
        }
        /*////////////   nav-bar end   ////////////*/

    /*////////////////   top bar   ////////////////*/
    .uae-div {
        width: 30% !important;
    }
    .top-bar-right-side-div {
        width: 40% !important;
    }
    /*////////////////   top bar end   ////////////////*/

    /*////////////////   about   ////////////////*/
    .about {
        display: flex;
        flex-direction: column;
        justify-content: flex-start !important;
        align-items: center;
    }

    #about-h1 {
        font-family: sans-serif;
        font-weight: bold;
        font-size: 2.5rem;
        margin-left: 0 !important;
        margin-top: 3rem !important;
        line-height: 0;
        margin: 0 0 0 0 !important;
    }

    #about-span {
        font-family: sans-serif;
        font-weight: bold;
        font-size: 2.5rem;
        margin-top: 3rem !important;
        color: #E18234;
    }

    .about-part-2 {
        display: flex;
        justify-content: center !important;
        flex-wrap: wrap !important;
        width: 100%;
    }
    
    .about-part-2-1 {
        width: 50% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }
    .about-part-2-2 {
        width: 50% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;

    }
    .about-part-2-3 {
        width: 50% !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-part-2-4 {
        width: 50% !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*////////////////   about end   ////////////////*/


}


@media (min-width:425px) and (max-width:576px) {

        /*////////////   nav-bar   ////////////*/
        .nav-link {
            text-align: center !important;
            margin-left: 0 !important;
            padding-left: 0 !important;
        }
        .nav-link1 {
            margin-right: 11rem !important;
        }
        .btn-primary {
            width: 100% !important;
        }
        .navbar-toggler {
            border: none !important;
        }
        /*////////////   nav-bar end   ////////////*/

    /*////////////////   top bar   ////////////////*/
    .top-bar {
        display: flex;
        align-items: center !important;
    }
    .uae-div {
        width: 30% !important;
        margin-top: 1rem !important;
    }
    .top-bar-right-side-div {
        width: 40% !important;
        display: flex;
        align-items: center !important;
    }
    .arabic-div {
        display: none !important;
    }
    /*////////////////   top bar end  ////////////////*/

    /*////////////////   about   ////////////////*/
    .about-container {
        width: 100%;
        height: 70vh;
    }
    .about {
        display: flex;
        flex-direction: column;
        justify-content: flex-start !important;
        align-items: center;
    }

    #about-h1 {
        font-family: sans-serif;
        font-weight: bold;
        font-size: 2.5rem;
        margin-left: 0 !important;
        font-size: x-large !important;
        margin: 0 0 0 0 ;
    }



    #about-span {
        font-family: sans-serif;
        font-weight: bold;
        font-size: 2.5rem;
        font-size: x-large !important;
        color: #E18234;
        margin-top: -2rem !important;
    }

    .about-part-2 {
        display: flex;
        justify-content: center !important;
        flex-wrap: wrap !important;
        width: 100%;
        margin-top: 1rem !important;
    }
    
    .about-part-2-1 {
        width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }
    .about-part-2-2 {
        width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;

    }
    .about-part-2-3 {
        width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-part-2-4 {
        width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*////////////////   about end   ////////////////*/


}


@media (max-width:425px) {

        /*////////////   nav-bar   ////////////*/
        .nav-link {
            text-align: center !important;
            margin-left: 0 !important;
            padding-left: 0 !important;
        }
        .nav-link1 {
            margin-right: 11rem !important;
        }
        .btn-primary {
            width: 100% !important;
        }
        .navbar-toggler {
            border: none !important;
        }
        /*////////////   nav-bar end   ////////////*/

    /*////////////////   top bar   ////////////////*/
    .uae-div {
        width: 25% !important;
        margin-top: 1rem !important;
    }
    .top-bar {
        display: flex;
        justify-content: space-between;
        align-items: center !important;
    }
    .top-bar-right-side-div {
        display: flex !important;
        justify-content: flex-start !important;
        width: 20% !important;
    }
    .arabic-div {
        display: none !important;
    }
    .tv-div {
        display: none !important;
    }
    /*////////////////   top bar end   ////////////////*/


    /*////////////////   home   ////////////////*/
    .home {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }
    #home-span {
        font-size: x-large !important;
    }
    #design {
        width: 4.5rem;
        position: absolute;
        margin-left: -3.5rem !important;
        margin-top: 0.4rem;
    }
    .home-h1 {
        font-size: 1.6rem !important;
    }
    .home p {
        font-size: x-small !important;
    }
    .home-btn {
        width: 7rem !important;
    }

    /*////////////////   home end   ////////////////*/

        /*////////////////   about   ////////////////*/
        .about-container {
            width: 100%;
            height: 70vh;
        }
        .about {
            display: flex;
            flex-direction: column;
            justify-content: flex-start !important;
            align-items: center;
        }
    
        #about-h1 {
            font-family: sans-serif;
            font-weight: bold;
            font-size: 2.5rem;
            margin-left: 0 !important;
            font-size: x-large !important;
            margin: 0 0 0 0 ;
        }
    
    
    
        #about-span {
            font-family: sans-serif;
            font-weight: bold;
            font-size: 2.5rem;
            font-size: x-large !important;
            color: #E18234;
            margin-top: -2rem !important;
        }
    
        .about-part-2 {
            display: flex;
            justify-content: center !important;
            flex-wrap: wrap !important;
            width: 100%;
            margin-top: 1rem !important;
        }
        
        .about-part-2-1 {
            width: 100% !important;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 1rem;
        }
        .about-part-2-2 {
            width: 100% !important;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 1rem;
    
        }
        .about-part-2-3 {
            width: 100% !important;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .about-part-2-4 {
            width: 100% !important;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        /*////////////////   about end   ////////////////*/



}








/*///////////////////////////      extra responsive      ///////////////////////////*/

@media (min-width:992px) and (max-width:1318px) {
    /*///////////////////      nav-bar      ///////////////////*/
    .nav-brand {
        margin-right: -8rem !important;
    }
    .nav-link-login {
        margin-left: -10rem !important;
        margin-right: -1rem !important;
    }
    /* .nav-link {
        margin-right: 12rem !important;
    } */

    /*///////////////////      nav-bar end      ///////////////////*/
    
}